<a href="https://colab.research.google.com/github/sparsh0106/URA302---Python-Programming/blob/main/URA302_(Lab_Assignment_3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1.**
 Write a Python program to calculate the difference between a given number and 17 with the help of function. If the number is greater than 17, return twice the absolute difference.

In [ ]:
def difference(n):
  if n <= 17:
    return 17 - n
  else:
    return (n - 17) * 2

print(difference(22))
print(difference(14))

10
3

**Q2.** Write a Python program for a function. to test whether a number is within 100 to 1000 or 2000.

In [ ]:


def near_thousand(n):
  return (100 <= n <= 1000) or (n == 2000)
print(near_thousand(1000))
print(near_thousand(900))
print(near_thousand(800))
print(near_thousand(2200))
print(near_thousand(2000))

True
True
True
False
True

**Q3.**  Write a Python program to reverse a string.

In [ ]:
def rev_str(a):
  return a[::-1]

print(rev_str('sparsh'))
print(rev_str('lmfao'))

hsraps
oafml

**Q4.** Write a Python function that accepts a string and counts the number of upper and lower
case letters.

In [ ]:
def count(a):
  upr = 0
  lwr = 0
  for i in a:
    if i.isupper():
      upr += 1
    if i.islower():
      lwr += 1

  return upr, lwr

print(count("Sparsh"))
print(count("sPARSH"))

(1, 5)
(5, 1)

**Q5.** Write a Python function that takes a list and returns a new list with distinct elements
from the first list.

In [ ]:
def distinct(l):
    new_L = []
    for i in l:
        if i not in new_L:
            new_L.append(i)
    return new_L

print(distinct([1, 1, 1, 1, 1, 1, 1, 2, 2, 3, 3, 3, 3, 4, 4, 5, 5]))

[1, 2, 3, 4, 5]

**Q6.** Write a Python program to print the even numbers from a given list. Sample List : [1,
2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
def even(l):
  even_l = [i for i in l if i%2 == 0]
  return even_l

print(even([1, 2, 3, 4, 5, 6, 7, 8, 9]))

[2, 4, 6, 8]

**Q7.** Write a Python program to access a function inside a function

In [ ]:
def add(n):
  if n == 0:
    return 0
  else:
    return n + add(n-1)

print(add(5))

15