<a href="https://colab.research.google.com/github/sparsh0106/URA302---Python-Programming/blob/main/URA302_(Lab_Assignment_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. L is a list defined as L= [11, 12, 13, 14].

(i) WAP to add 50 and 60 to L. <br>
(ii) WAP to remove 11 and 13 from L. <br>
(iii) WAP to sort L in ascending order. <br>
(iv) WAP to sort L in descending order. <br>
(v) WAP to search for 13 in L. <br>
(vi) WAP to count the number of elements present in L. <br>
(vii) WAP to sum all the elements in L. <br>
(viii) WAP to sum all ODD numbers in L. <br>
(ix) WAP to sum all EVEN numbers in L. <br>
(x) WAP to sum all PRIME numbers in L. <br>
(xi) WAP to clear all the elements in L. <br>
(xii) WAP to delete L. <br>

In [ ]:
L = [11,12,13,14]
#(i)
L.append(50)
L.append(60)
#(ii)
L.remove(11)
L.remove(13)
#(iii)
L.sort()
#(iv)
L.sort(reverse = True)
#(v)
if 13 in L:
  print("The element is present")
else:
  print("The element is not present")
#(vi)
print(len(L))
#(vii)
print(sum(L))
#(viii)
sum_odd = 0
for i in L:
  if i%2 != 0:
    sum_odd = sum_odd + i
print(sum_odd)
#(ix)
sum_even = 0
for i in L:
  if i%2 == 0:
    sum_even = sum_even + i
print(sum_even)
#(x)
sum_prime = 0
for i in L:
  c = 0
  for j in range(1,i+1):
    if i%j == 0:
      c = c + 1
  if c <= 2:
    sum_prime = sum_prime + i
print(sum_prime)
#(xi)
L.clear()
#(xii)
del L

'del L'

Q2. Write a Python program to sum all the items in a list without using any inbuilt function.

In [ ]:
L = [1,2,3,4]
sum = 0
for i in L:
  sum = sum + i
print(sum)

10

Q3. Write a Python program to multiply all the items in a list without using any inbuilt function.

In [ ]:
L = [1,2,3,4]
prod = 1
for i in L:
  prod = prod * i
print(prod)

24

Q4. Write a Python program to generate a 3*4*6 3D array whose each element is *.

In [ ]:
arr = [[["*","*","*","*","*","*"],["*","*","*","*","*","*"],["*","*","*","*","*","*"],["*","*","*","*","*","*"],],[["*","*","*","*","*","*"],["*","*","*","*","*","*"],["*","*","*","*","*","*"],["*","*","*","*","*","*"],],[["*","*","*","*","*","*"],["*","*","*","*","*","*"],["*","*","*","*","*","*"],["*","*","*","*","*","*"],],]
for i in arr:
  print(i)

[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]
[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]
[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]

Q5. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.

(i) WAP to add new entry in D; key=8 and value is 8.8 <br>
(ii) WAP to remove key=2. <br>
(iii) WAP to check weather 6 key is present in D. <br>
(iv) WAP to count the number of elements present in D. <br>
(v) WAP to add all the values present D. <br>
(vi) WAP to update the value of 3 to 7.1. <br>
(vii) WAP to clear the dictionary. <br>

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
#(i)
"""D[8] = 8.8"""
#(ii)
"""D.pop(2)"""
#(iii)
"""if 6 in D.keys():
  print("Present")
else:
  print("Not present")"""
#(iv)
"""print(len(D))"""
#(v)
"""s = 0
for i in D.values():
  s = s + i
print(s)"""
#(vi)
"""D[3] = 7.1"""
#(vii)
"""D.clear()"""

{}

Q6. S1 is a set defined as S1= [10, 20, 30, 40, 50, 60]. S2 is a set defined as S2= [40, 50, 60, 70, 80, 90]. <br><br>
(i) WAP to add 55 and 66 in Set S1. <br>
(ii) WAP to remove 10 and 30 from Set S1. <br>
(iii) WAP to check whether 40 is present in S1. <br>
(iv) WAP to find the union between S1 and S2. <br>
(v) WAP to find the intersection between S1 and S2. <br>
(vi) WAP to find the S1 - S2. <br>

In [ ]:
S1= [10, 20, 30, 40, 50, 60]
S2= [40, 50, 60, 70, 80, 90]

s1 = set()
s2 = set()
for i in S1:
  s1.add(i)
for j in S2:
  s2.add(j)
print(s1)
print(s2)

#(i)
s1.add(55)
s1.add(66)
#(ii)
s1.remove(10)
s1.remove(30)
#(iii)
if 40 in s1:
  print("yes")
else:
  print("no")
#(iv)
x = s1.union(s2)
print(x)
#(v)
print(s1.intersection(s2))
#(vi)
print(s1 - s2)

{40, 10, 50, 20, 60, 30}
{70, 40, 80, 50, 90, 60}
yes
{66, 70, 40, 80, 50, 20, 55, 90, 60}
{40, 50, 60}
{66, 20, 55}

Q7. Write the following program: <br><br>
(i) WAP to print 100 random strings whose length between 6 and 8. <br>
(ii) WAP to print all prime numbers between 600 and 800. <br>
(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

In [ ]:
#(i)
"""l = ['a','b','c','d','e','f','g','h']
import random
for i in range(100):
  s = ""
  for j in range(random.randint(6,8)):
    s = s + random.choice(l)
  print(s)"""

#(ii)
"""l = []
for i in range(600, 801):
  c = 0
  for j in range(1,i+1):
    if i%j == 0:
      c = c + 1
  if c <= 2:
    l.append(i)
print(l)"""

#(iii)
"""for i in range(100,1001):
  if i%7 == 0 and i%9 == 0:
    print(i)"""

126
189
252
315
378
441
504
567
630
693
756
819
882
945

Q8. Write a Python program to display the examination schedule. (extract the date from exam_st_date). exam_st_date = (11, 12, 2014)

In [ ]:
exam_st_date = (11,12,2014)
print(f"The exam date is {exam_st_date[0]}/{exam_st_date[1]}/{exam_st_date[2]}")

The exam date is 11/12/2014

Q9. Iterate the given list of numbers and print only those numbers which are divisible by 5.

In [ ]:
l = [5,10,11,14,15,20,24]
for i in l:
  if i%5 == 0:
    print(i)

Q10. Write a Python program to check if a given number is even or odd using boolean variables.

In [ ]:
n = float(input("Enter a num : "))
if n%2 == False:
  print("EVEN")
else:
  print("ODD")

Enter a num : 5
ODD

Q11. Write a program to find how many times substring “Emma” appears in the given string

In [ ]:
st = "emmaemmaemmaemma"
print(st.count("emma"))

4

Q12. Create a new list from two list using the following condition, Given two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first
list and even numbers from the second list.

In [ ]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = []
for i in l1:
  if i%2 != 0:
    l3.append(i)
for j in l2:
  if j%2 == 0:
    l3.append(j)
print(l3)

[1, 3, 4, 6]